<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>{{title}}</span>
    <span [textContent]="title"></span>
    <a [routerLink]="['/home']" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms']" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a routerLink="/rooms/create" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="user == null; else log">
      <a [routerLink]="['/auth/login']" mat-button>
        <mat-icon class="mat-18">locked_out</mat-icon>
        Login
      </a>
      <a mat-button>
        <mat-icon class="mat-18">create</mat-icon>
        S'inscrire
      </a>
    </ng-container>
    <ng-template #log>
      Bonjour
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>
    </ng-template>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item>
        <mat-icon class="mat-18">personne</mat-icon>
        Mon compte
      </a>
      <button mat-menu-item (click)="logout();">
        <mat-icon class="mat-18">locked_in</mat-icon>
        Déconnexion
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-room-top-five></app-room-top-five>
</footer>