<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>{{title}}</span>
    <span [textContent]="title"></span>
    <a href="" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a href="" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a href="" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="user == null; else log">
      <a mat-button>
        <mat-icon class="mat-18">locked_out</mat-icon>
        Login
      </a>
      <a mat-button>
        <mat-icon class="mat-18">create</mat-icon>
        S'inscrire
      </a>
    </ng-container>
    <ng-template #log>
      Bonjour

    </ng-template>
    <mat-menu></mat-menu>
  </div>
</mat-toolbar>